<div class="container" [formGroup]="form">
  <section class="form">
    <h3>基本資料</h3>

    <div class="form-item">
      <label>姓名</label>
      <input type="text" formControlName="name" />
    </div>

    <div class="form-item">
      <label>地址</label>
      <input type="text" formControlName="address" />
    </div>

    <div class="form-item">
      <label>電話</label>
      <input type="text" formControlName="phone" />
    </div>
  </section>

  <section class="detail">
    <h3>購買項目</h3>
  </section>
</div>

<div class="tool-bar">
  <button>送出訂單</button>
</div>

<pre>{{ form.value | json }}</pre>
