:host {
  display: block;
  padding: 20px 10px; /*上 左*/
}

input[type='text'] {
  width: 300px;
  height: 40px;
  margin-right: 10px;
  font-size: 20px;
}

button {
  width: 50px;
  height: 40px;
  color: #005cbb;
  border: solid #005cbb 2px;
  background-color: white;
  font-size: 15px;
}
